body {
    font-family: arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 14px;
   }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
  }
  
  li {
    display: inline;
  }
  
  a {
    color: black;
    padding: 15px;
    text-decoration: none;
    opacity: 75%
  }
  
  a:hover {
    text-decoration: underline;
  }
  
#apps {
    width:25px;
}

#apps:hover {
    color-adjust: black;
}

    .logo {
      display: block;
      margin: auto;
      padding-top: 109px;
      width: 272px;
      height: 92px;
    }
  
    form {
        
    }
  
    .search-bar form {
      display: flex;
      justify-content: center;
      padding-top: 20px;
      border: 1px solid magenta;
     }
  
  input[type=text] {
      width: 250px;  
  }
  
.bottom-buttons {
    display: flex;
    justify-content: center;
    
}

  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #e4e4e4;
    background: #f2f2f2;
    font-size: 14px;
    min-width: 100%;
  }